{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/logo/icon/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/logo/icon/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/logo/icon/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/logo/icon/site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/logo/icon/safari-pinned-tab.svg' | relative_url }}" color="#76a7fa">
<link rel="shortcut icon" href="{{ '/assets/logo/icon/favicon.ico' | relative_url }}">
<meta name="apple-mobile-web-app-title" content="royforge">
<meta name="application-name" content="royforge">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{{ '/assets/logo/icon/browserconfig.xml' | relative_url }}">
<meta name="theme-color" content="#ffffff">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
